#content {
    width: 100%; 
    margin: 0 auto ;
    max-width: 1600px;

}
body {
    background-color:white;
}
header {
    background-color:#486161;
}
.logo { 
    width: 80px;
}
#background {
    height: 725px;
    background-color: #51946c;
    color: black;
}

nav a{
    text-align: center;
    color:black;
    text-decoration: none;
}
nav :hover {
    background-color: #51946c;
    color:black;
}
#hero-msg h1{
    text-align: center;
    margin: 0 auto;

} 
#hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.icon{
    width: 80px;
}
.book{
    background-color:#486161;
    color:black;
    text-decoration: none;
}
.book:hover{
    background-color: #e7d7a7;
    color:black;
}
.join{
    background-color: #51946c;
    color:black;
    text-decoration: none;
}
.join:hover{
    background-color: #51946c;
    color:black;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.msg h2 {
    background-color: #486161;
    color:black;
}
.msg p {
    background-color: #486161;
    color: black;
}
.msg{
    background-color: #486161;
}
footer p {
    background-color: #486161;
    color:black;
    font-size: 1.2em;
}
footer p:hover {
    background-color: #486161;
    color:black;
    font-size: 1.2em;
    text-decoration: underline;
}
footer{
    background-color: #486161;
    color:black;
}
footer a{
    background-color: #486161;
    color:black;
    text-decoration: none;
}
footer a:hover{
    color:black;

}