@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');
#content {
    width: 100%; 
    margin: 0 auto ;
    max-width: 1600px;

}
main section img {
    box-sizing: border-box;
}
header {
    background-color:#486161;
    font-size: 2em;

}

.home-title {
    font-family: Garamond ,Tahoma , sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

body {
    background-color:white;
    font-family: Caveat,Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin:0;
    font-family:Permanent Marker ,Tahoma , sans-serif;
}
#logo_link {
    padding-top: 5px;
}
.logo { 
    width: 80px;
}
#background {
    height: 725px;
    background-color: #435e6e;
    color: black;
}

nav a{
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
    font-family:Permanent Marker ,Tahoma , sans-serif;
}
nav :hover {
    background-color: #435e6e;
    font-family:Permanent Marker ,Tahoma , sans-serif;
    color:black;
    padding: 35px;
}
.card-img{
    border: 10px solid black;
}
#hero-msg h1{
    text-align: center;
    margin: 0 auto;
} 
#hero-msg h4{
    text-align: center;    
    font-family:Permanent Marker ,Tahoma , sans-serif;
}

#hero-img{
    width: 100%;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
} 
.rapids-card{
    margin: 200px 0;
}
.book{
    background-color:#ccbf77;
    color:black;
    text-decoration: none;
    font-size: 18px;    
    font-family:Permanent Marker ,Tahoma , sans-serif;;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #fdd804;
    color:black;
    font-size: 18px;
    font-family:Permanent Marker ,Tahoma , sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.mountains{
    margin-top: 100px;
    margin-bottom: 200px;
}
.join{
    background-color: #ccbf77;
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-family:Permanent Marker ,Tahoma , sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: #fdd804;
    color:black;
    font-size: 18px;
    font-family:Permanent Marker ,Tahoma , sans-serif;
    padding: 15px 30px;
    margin-top: 50px;    
    border-radius: 5px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.msg h2 {
    background-color: #486161;
    color:black;
}
.msg p {
    background-color: #486161;
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg{
    background-color: #486161;
    line-height: 1.5em;
    padding: 35px;
}
footer p {
    background-color: #486161;
    color:black;
    font-size: 1.2em;
}
footer p:hover {
    background-color: #486161;
    color:black;
    font-size: 1.2em;
    text-decoration: underline;
}
footer{
    background-color: #486161;
    color:black;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}
footer a{
    background-color: #486161;
    color:black;
    text-decoration: none;
}
footer a:hover{
    color:black;

}
.social{
    padding-top: 15px;
}
