
body {text-align: center;
    background-color:  #fca6c9;
    color: white;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}   
main {
    display: flex;
    align-items: center;
}
.container {
    width: 60%;
}
h1:hover {
    color:  black;
    font-size:  2em;
    text-align: block;
    font-family : 'Trebuchet MS';
}

h2 {
    width: 60%;
    margin: 50px auto;
    font-size: 1em;
    text-align: center;
    color: whitesmoke;

}
h3 {  
    width: 60%;
    margin: 50px auto;
    font-size: 1em;
    text-align: center;
    color: whitesmoke;    
}
img {
    width: 30%;
    margin: 0 auto;  
}
.list{
    display: flex;
  align-items: center;
}
ol {
    color: black;
    font-size: 1em; 
    text-align: left;

}
    
h5 {
    width: 40%;
    margin: auto;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
}

h6 {
    color: black;
    font-size: 1em; 
    font-family : 'Trebuchet MS';
}
h7{ 
    color: black;
    font-size: 1em;       
    font-family : 'Trebuchet MS';
}  