nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
h1 {
    text-align: center;
    margin: 50px 0;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}
a{
    color:white;
    padding: 25px;
}
a:hover {
    background-color: pink;
    color: whitesmoke;
    font-size: 1em;
    padding: 25px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}