

.headerimage {
    width: 1600px;
}
.container{
    width: 100%;
    border: 50px black;
}
.bubbles {
    width: 100%;
}
.bottom-half {    
    background-color: grey;


}
    

.pic {
    margin: 150px;
    width: 300px;
    height: 300px;
    padding: 10px gray;
    background-color: grey;
    border-radius: 50%;
    border: 10px solid rgb(59, 59, 59);

}

