@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

.headline{ 
    width: 100%;
    height:20%;
    font-family:Verdana;
    display: grid;
    grid-template-rows: 100px ;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #057EA3;
    justify-content: space-around;
    
    }

.logo{
    width: 100px;
    justify-self: left;
    align-self: left; 
    border-radius: 10%;
    border: px solid black;
}
.title{
    grid-column: 2/3;
    text-align: center;
    font-size: 3em;
    }

.content{
    position: relative;
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    width: 100%;
    display:grid;
    grid-template-rows: 50px 500px 50px;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    background-color: #FCD9B6;
    }

#table{  
    width: 300px;
    display: grid;
    grid-row: 2/3;
    grid-column:2/3;
    align-self: center;    
    justify-self: center;
    border-radius: 10%;
    border: 5px solid black;
    } 

#family{
    width: 300px;
    display: grid;
    grid-row: 2/3;
    grid-column:3/4;
    align-self: center;    
    justify-self: center;
    border-radius: 10%;
    border: black 5px;
    border: 5px solid black;

    }

#people{
    width: 300px;
    display: grid;
    grid-row: 2/3;
    grid-column:4/5;
    align-self: center;    
    justify-self: center;
    border-radius: 10%;
    border: 5px solid black;
    }

#grandma{
    width: 300px;
    display: grid;
    grid-row: 2/3;
    grid-column:5/6;
    align-self: center;    
    justify-self: center;
    border-radius: 10%;
    border: 5px solid black;
    }

.buttons{
    display: grid;  
    grid-template-rows:100px 200px;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:  #FCD9B6;
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    font: #057EA3;
}

.buttons-links {
    grid-column:2/3;
    grid-row: 1/2;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 .sub-page-buttons{
    display: grid;  
    grid-template-rows:100px ;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:  #FCD9B6;
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    font: #057EA3;
 }
.tableof{
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    text-align: center;
    grid-column:2/3;
    grid-row: 1/2;
    background-color:#057EA3;
    color:black;
    font-size: 18px;    
    padding: 15px 15px;
    margin: auto;
    border-radius: 10%;
    border: 2px solid black;
        


}
.tableof:hover{
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    text-align: right;
    display:grid;

    color: #F09537;
  

}
#rice{   
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    text-align: center;
    grid-column:3/4;
    grid-row: 1/2;
    background-color:#057EA3;
    color:black;
    font-size: 18px;    
    padding: 15px 15px;
    margin: auto;
    border-radius: 10%;
    border: 2px solid black;
    align-self: left;    



}

#rice:hover{
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    text-align: right;
    display:grid;
    color: #F09537;
     
}

#cinnamon{    
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    text-align: center;
    grid-column:1/2;
    grid-row: 1/2;
    background-color:#057EA3;
    color:black;
    font-size: 18px;    
    padding: 15px 15px;
    margin: auto;
    border-radius: 10%;
    border: 2px solid black;
}

#cinnamon:hover{
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    text-align: right;
    display:grid;
    color: #F09537;
}

#main-paragraph{
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    display: grid;
    grid-row: 2/3;
    grid-column:2/3;
    text-align: center;
    align-self: center;    
    justify-self: center;
    margin: 200px;

}
#bread{
    margin: auto;
    width: 300px;
    display: grid;
    grid-row: 1/4;
    grid-column:3/4 ;
    border-radius: 10%;
    border: 5px solid black;


    }
#pasta{
    margin: auto;
    width: 300px;
    display: grid;
    grid-row: 1/4;
    grid-column:1/2;
    border-radius: 10%;
    border: 5px solid black;
}
.main-pics{
    margin: auto;
    width: 300px;
    display: grid;
    border-radius: 10%;
    border: 5px solid black;
}

.sub-page {
    display: grid;
    grid-template-columns:50px 2fr 1fr 1fr 50px ;
    grid-template-rows:50px 125px 125px 125px 125px 125px;
    
    background-color: #FCD9B6;
    }

.table-of-contents{
    grid-template-columns:50px 2fr 1fr 1fr 50px ;
    grid-template-rows:50px 125px 125px 125px 125px;
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    display: grid;
    background-color: #FCD9B6;
  
}  
.table-of-images{



}

#flour{
    grid-column: 3/4;
    grid-row: 1/3;
    border-radius: 10%;
    border: black 5px;
    border: 5px solid black;
    width: 350px ;
    height:525px;
}
#pancakes{
    grid-column: 4/5;
    grid-row: 1/3;

    border-radius: 10%;
    border: black 5px;
    border: 5px solid black;
    width: 350px ;
    height:525px;
}
.recipe-layout {
    margin-left: 50px;
    margin-right: 50px;
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    display: grid;
    grid-row: 2/3;
    grid-column:2/3;
}
.recipe-history{

}
.cin-wrapper{
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
    width: 457px ;
    height:572px;
    border-radius: 10%;
    border: black 5px;
    border: 5px solid black;
}
.cin-wrapper img{
    border-radius: 10%;
    grid-column: 3/4;
    grid-row: 2/3;
}
 .rice-wrapper{   
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
    width: 457px ;
    height:572px;
    border-radius: 10%;
    border: black 5px;
    border: 5px solid black;
 }

 .rice-wrapper img{
    border-radius: 10%;
    width: 457px ;
    height:572px;
 }

.delectable{
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #F09537;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.yummy{
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #F09537;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
        grid-column: 3/4;
    grid-row: 2/3;
  
}

.cin-wrapper:hover .yummy {
    opacity: 1;
}

.rice-wrapper:hover .yummy {
    opacity: 1;
}
footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family:Trebuchet MS, Tahoma, sans-serif;  
    background-color:#37C4F0 ;
    text-align: center;
    margin: auto;

    }
.foot{
    background-color:#057EA3;
    color:black;
    font-size: 18px;    
    padding: 15px 15px;
    border-radius: 10%;
    border: 2px solid black;
   }